<launch>
  <arg name="robot_ns" default="quadrotor" />
  <arg name="inchworm_action_b" default="false" />
  <arg name="inchworm_action_c" default="false" />
  <arg name="rocking_gait" default="false" />
  <arg name="bottom_control_enabled" default="true" />
  <arg name="use_mocap_attitude_for_inchworm" default="false" />
  <!-- Action-A gait parameters.  Defaults reproduce the YAML configuration;
       the optimization wrapper overrides them for each MuJoCo episode. -->
  <arg name="base_pressure_kpa" default="30.0" />
  <arg name="inchworm_front_release_kpa" default="5.0" />
  <arg name="inchworm_swing_pressure_kpa" default="0.0" />
  <arg name="inchworm_transfer_pressure_kpa" default="20.0" />
  <arg name="inchworm_rear_unload_kpa" default="8.0" />
  <arg name="inchworm_pull_pressure_kpa" default="5.0" />
  <arg name="inchworm_reach_thrust_n" default="2.0" />
  <arg name="inchworm_reach_max_thrust_n" default="6.0" />
  <arg name="inchworm_rear_lift_thrust_n" default="3.0" />
  <arg name="inchworm_reach_duration_sec" default="10.0" />
  <arg name="inchworm_target_straightening_angle_rad" default="-1.0" />
  <arg name="inchworm_stroke_distance_m" default="0.002" />
  <arg name="inchworm_max_cycles" default="10" />
  <arg name="rocking_bottom_low_kpa" default="0.0" />
  <arg name="rocking_bottom_high_kpa" default="50.0" />
  <arg name="rocking_front_release_kpa" default="0.0" />
  <arg name="rocking_rear_release_kpa" default="0.0" />
  <arg name="rocking_front_windup_pressure_kpa" default="30.0" />
  <arg name="rocking_front_extend_thrust_n" default="6.0" />
  <arg name="rocking_front_windup_target_rad" default="2.0943951" />
  <arg name="rocking_front_extend_target_rad" default="0.3490659" />
  <arg name="rocking_front_place_bend_target_rad" default="1.5707963" />
  <arg name="rocking_front_place_pressure_kpa" default="40.0" />
  <arg name="rocking_front_min_advance_m" default="0.003" />
  <arg name="rocking_rear_reverse_thrust_n" default="0.8" />
  <arg name="rocking_front_tilt_target_rad"
       default="$(eval 0.90 * float(arg('rocking_bottom_high_kpa')) * 0.2617994 / 50.0)" />
  <arg name="rocking_recovery_tilt_target_rad" default="0.00872665" />
  <arg name="rocking_phase_timeout_sec" default="10.0" />
  <arg name="rocking_thrust_ramp_n_s" default="6.0" />
  <arg name="rocking_front_windup_hold_sec" default="0.20" />
  <arg name="rocking_front_extend_hold_sec" default="0.05" />
  <arg name="rocking_front_lower_rate_n_s" default="1.5" />
  <arg name="rocking_land_settle_sec" default="0.4" />
  <arg name="rocking_max_tilt_rad" default="0.5235988" />

  <group ns="$(arg robot_ns)">
    <node pkg="hugmy"
          type="independent_arm_pressure_controller_node"
          name="independent_arm_pressure_controller"
          output="screen">
      <rosparam command="load"
                file="$(find hugmy)/config/independent_arm_pressure_controller.yaml" />
      <param name="bottom_control_enabled" value="$(arg bottom_control_enabled)" />
    </node>

    <node pkg="hugmy"
          type="attitude_pressure_controller_node"
          name="attitude_pressure_controller"
          output="screen">
      <rosparam command="load"
                file="$(find hugmy)/config/attitude_pressure_controller.yaml" />
      <param name="inchworm_action_b_enabled" value="$(arg inchworm_action_b)" />
      <param name="inchworm_action_c_enabled" value="$(arg inchworm_action_c)" />
      <param name="rocking_gait_enabled" value="$(arg rocking_gait)" />
      <param name="base_pressure_kpa" value="$(arg base_pressure_kpa)" />
      <param name="inchworm_front_release_kpa" value="$(arg inchworm_front_release_kpa)" />
      <param name="inchworm_swing_pressure_kpa" value="$(arg inchworm_swing_pressure_kpa)" />
      <param name="inchworm_transfer_pressure_kpa" value="$(arg inchworm_transfer_pressure_kpa)" />
      <param name="inchworm_rear_unload_kpa" value="$(arg inchworm_rear_unload_kpa)" />
      <param name="inchworm_pull_pressure_kpa" value="$(arg inchworm_pull_pressure_kpa)" />
      <param name="inchworm_reach_thrust_n" value="$(arg inchworm_reach_thrust_n)" />
      <param name="inchworm_reach_max_thrust_n"
             value="$(arg inchworm_reach_max_thrust_n)" />
      <param name="inchworm_rear_lift_thrust_n" value="$(arg inchworm_rear_lift_thrust_n)" />
      <param name="inchworm_reach_duration_sec" value="$(arg inchworm_reach_duration_sec)" />
      <param name="inchworm_target_straightening_angle_rad"
             value="$(arg inchworm_target_straightening_angle_rad)" />
      <param name="inchworm_stroke_distance_m" value="$(arg inchworm_stroke_distance_m)" />
      <param name="inchworm_max_cycles" value="$(arg inchworm_max_cycles)" />
      <param name="rocking_bottom_low_kpa" value="$(arg rocking_bottom_low_kpa)" />
      <param name="rocking_bottom_high_kpa" value="$(arg rocking_bottom_high_kpa)" />
      <param name="rocking_front_release_kpa" value="$(arg rocking_front_release_kpa)" />
      <param name="rocking_rear_release_kpa" value="$(arg rocking_rear_release_kpa)" />
      <param name="rocking_front_windup_pressure_kpa"
             value="$(arg rocking_front_windup_pressure_kpa)" />
      <param name="rocking_front_extend_thrust_n"
             value="$(arg rocking_front_extend_thrust_n)" />
      <param name="rocking_front_windup_target_rad"
             value="$(arg rocking_front_windup_target_rad)" />
      <param name="rocking_front_extend_target_rad"
             value="$(arg rocking_front_extend_target_rad)" />
      <param name="rocking_front_place_bend_target_rad"
             value="$(arg rocking_front_place_bend_target_rad)" />
      <param name="rocking_front_place_pressure_kpa"
             value="$(arg rocking_front_place_pressure_kpa)" />
      <param name="rocking_front_min_advance_m"
             value="$(arg rocking_front_min_advance_m)" />
      <param name="rocking_rear_reverse_thrust_n" value="$(arg rocking_rear_reverse_thrust_n)" />
      <param name="rocking_front_tilt_target_rad" value="$(arg rocking_front_tilt_target_rad)" />
      <param name="rocking_recovery_tilt_target_rad" value="$(arg rocking_recovery_tilt_target_rad)" />
      <param name="rocking_phase_timeout_sec" value="$(arg rocking_phase_timeout_sec)" />
      <param name="rocking_thrust_ramp_n_s" value="$(arg rocking_thrust_ramp_n_s)" />
      <param name="rocking_front_windup_hold_sec"
             value="$(arg rocking_front_windup_hold_sec)" />
      <param name="rocking_front_extend_hold_sec"
             value="$(arg rocking_front_extend_hold_sec)" />
      <param name="rocking_front_lower_rate_n_s" value="$(arg rocking_front_lower_rate_n_s)" />
      <param name="rocking_land_settle_sec" value="$(arg rocking_land_settle_sec)" />
      <param name="rocking_max_tilt_rad" value="$(arg rocking_max_tilt_rad)" />
      <param name="use_mocap_attitude_for_inchworm"
             value="$(arg use_mocap_attitude_for_inchworm)" />
    </node>
  </group>
</launch>
