<?xml version="1.0"?>
<launch>
  <!-- <arg name="headless" default="true" /> -->
  <arg name="config_dir" default="$(find hugmy)/config" />
  <arg name="rviz_config" value="$(arg config_dir)/rviz_interactive_ui.rviz"/>
  <!-- rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" respawn="true"/> <!-- unless="$(arg headless)"/> -->
  <!-- <node pkg="hugmy" type ="haptics_route_planning.py" name="path_ui" output="screen" /> -->
</launch>
